/* Body */

body {
  background-image: url("backkground-img.jpg");
  background-repeat: no-repeat;
  margin: 0;
}


/* Navbar */

/*Forsøk på fixed navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* logo navbar */
.logo {
  display: inline-block;
  vertical-align: top;
  padding: 10px 16px;
}

.navbar-brand {
  float: right;
  padding-right: 50px;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #5C5656;
  overflow: hidden;
  color: #000;
  z-index: 999;
  width: 100%;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.navBar a {
  color: white!important;
}


/* Header */

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-variant: small-caps;
  letter-spacing: 6px;
  text-shadow: 2px 2px black;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Paragrafer */

.p1,
.p2,
.p3,
.p4 {
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  font-size: 20px;
  position: relative;
}


/* Text med link */

a:hover,
a:visited,
a:link,
a:active {
    color: #70b028;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
}

ab:hover {
    position: relative;
}

