/* Body */
body {
  background-image: url();
}

/* Navbar */

/* Forsøk på fixed navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  background-color: #5C5656;
  overflow: hidden;
  color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.navBar a {
  color: white!important;
}

/* Header */

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-variant: small-caps;
  margin: 2px;
  letter-spacing: 6px;
  text-shadow: 2px 2px black;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Paragrafer */

.p1, .p2, .p3, .p4 {
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
}